/*.ini
classes
logs
/war/images/ui4/Thumbs.db
/war/images/ui/Thumbs.db
/war/images/ui/newui/Thumbs.db
/war/images/ui3/Thumbs.db
/war/images/2d/trees/*.db
*.db
/war/WEB-INF/lib/appengine-api-1.0-sdk-1.9.64.jar
/war/WEB-INF/lib/appengine-jsr107cache-1.9.64.jar
/.settings
/war/WEB-INF/lib/*.jar
/war/META-INF/MANIFEST.MF
